#mobile-app {
  position: relative;
  height: 400vh;
  overflow: hidden;

  #marker {
    width: 4px;
    height: 4px;
    background: purple;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
  }

  .header2 {
    position: fixed;
    top: 0;
    left: 0;
    transition: all 1s;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;

    &--hidden {
      left: -100vw;
    }

    h2 {
      font-size: 4rem;
    }

    svg {
      path {
        stroke: inherit;
      }
    }
  }
}

.mobile-timeline {
  position: fixed;
  left: 20%;
  top: 100px;
  height: 2px;
  background-color: var(--text);
  border-radius: 50%;
  width: 2450px;
  transition: all 1s;
  display: flex;
  align-items: end;

  &--hidden {
    left: 100vw;
  }

  &__entry {
    margin-left: 75px;
    text-align: center;
    transform: translateY(25px);
    cursor: pointer;

    &:hover &__icon {
      scale: 2;
      transform-origin: bottom;
    }

    &__icon {
      transition: 1s all;
      
      path {
        fill: inherit;
      }

      .keep-bg {
        fill: var(--background) !important;
      }
      

      &--visible {
        scale: 2;
        transform-origin: bottom;
      }
    }

    p {
      opacity: .5;
      font-size: 1.4rem;
      margin-top: 4px;
    }
  }
}

.mobile-timeline-pointer {
  position: fixed;
  top: 85px;
  left: 18%;
  height: 32px;
  width: 32px;
  background-color: var(--text);
  border-radius: 50%;
  background-color: var(--background);
  border: 2px solid var(--text);
  animation: pulse 3s ease-in infinite;
  transition: all 1s;

  &--hidden {
    left: 105vw;
  }

  &::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    top: 2px;
    left: 2px;
    border: 2px solid var(--text);
    border-color: inherit;
    border-radius: 50%;
    background-color: var(--background);
    animation: pulse 3s ease-in infinite;
  }

  &::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    top: 7px;
    left: 7px;
    border-radius: 50%;
    animation: pulse 3s ease-in infinite;
    background-color: var(--background);
    border: 2px solid var(--text);
    border-color: inherit;
  }
}