.finance-tracker-section {
  position: absolute;
  top: 15%;
  left: 100vw;
  transition: 1s all ease-out;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 24px;

  &--visible {

    left: 24px;
  }
}

.section__text {
  max-width: 40%;

  p {
    margin-bottom: 12px;

    &:last-child {
      margin-top: 24px;
      opacity: .5;
    }
  }

}