#app {
  height: calc(100vh - 17px);
}

header {
  font-weight: 100;
}

.app-header {
  padding: 24px;
  transition: .5s all ease-in;
  opacity: 1;
  
  :last-child {
    opacity: .7;
    letter-spacing: .01rem;
  }

  &--hidden {
    opacity: 0;
  }

}

.timeline {
  height: 2px;
  background-color: var(--text);
  border-radius: 50%;
  position: absolute;
  width: 2550px;
  transition: all 1s;
  display: flex;
  align-items: end;

  &__entry {
    margin-left: 125px;
    text-align: center;
    transform: translateY(25px);
    cursor: pointer;

    &:hover &__icon {
      scale: 2;
      transform-origin: bottom;
    }

    &__icon {
      transition: 1s all;
      
      path {
        fill: inherit;
      }

      .keep-bg {
        fill: var(--background) !important;
      }
      

      &--visible {
        scale: 2;
        transform-origin: bottom;
      }
    }

    p {
      opacity: .5;
      font-size: 1.4rem;
      margin-top: 4px;
    }
  }
}

.timeline-pointer {
  position: fixed;
  top: calc(55vh - 16px);
  height: 32px;
  width: 32px;
  background-color: var(--text);
  border-radius: 50%;
  left: 450px;
  background-color: var(--background);
  border: 2px solid var(--text);
  animation: pulse 3s ease-in infinite;
  transition: all 1s;

  &::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    top: 4px;
    left: 4px;
    border: 2px solid var(--text);
    border-color: inherit;
    border-radius: 50%;
    background-color: var(--background);
    animation: pulse 3s ease-in infinite;
  }

  &::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    top: 9px;
    left: 9px;
    border-radius: 50%;
    animation: pulse 3s ease-in infinite;
    background-color: var(--background);
    border: 2px solid var(--text);
    border-color: inherit;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1)
  }
  50% {
    transform: scale(1.1)
  }
  100% {
    transform: scale(1)
  }
}

.scroll-to-begin {
  opacity: .25;
  font-size: 4rem;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 100;
  text-align: center;
  width: 300px;
  animation: opacity-pulse 1s ease-in infinite alternate;
  cursor: default;
  user-select: none;
}

@keyframes opacity-pulse {
  0% {
    opacity: .25
  }
  100% {
    opacity: .75
  }
}

.screen-too-small {
  margin-top: 10%;
  text-align: center;

  h2 {
    margin-bottom: 24px;
  }

  p {
    margin-bottom: 8px;
  }
}